@model IEnumerable<RapChieuPhim.Areas.Admin.Models.PhimModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten_phim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh_anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thoi_luong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luot_xem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia_ve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lich_Chieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Da_xoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten_phim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hinh_anh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thoi_luong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Luot_xem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia_ve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lich_Chieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Da_xoa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
