@model IEnumerable<RapChieuPhim.Areas.Admin.Models.RapPhimModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Rạp phim</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten_rap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia_chi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Da_xoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten_rap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dia_chi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Da_xoa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a type="button" class="Delete" style="color:#007bff;" name="@item.ID">Delete</a> |
                    <a type="button" class="Restore" style="color:#007bff;" name="@item.ID">Restore</a> <br />
                    <a asp-area="Admin" asp-controller="PhongChieu" asp-action="Index" asp-route-id="@item.ID">PhongChieu</a> |
                    <a asp-area="Admin" asp-controller="LichChieu" asp-action="Index" asp-route-id="@item.ID">LichChieu</a>

                </td>
            </tr>
        }
    </tbody>
</table>
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>*@

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-content" id="Messege_modal">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".Delete").click((e) => {
            //console.log($(e.currentTarget));
            const id = parseInt($(e.currentTarget)[0].name);
            $.ajax({
                type: 'POST',
                //chay đc rồi nha
                url: `./RapPhim/Delete/${id}`,
                dataType: 'json',
                data: null,
                success: function (data) {
                    if (!data)
                        return;
                    $(e.currentTarget)[0]
                        .parentElement
                        .parentElement
                        .cells[3]
                        .children[0]
                        .checked = true;
                    $('#Messege_modal')[0].innerText = "Xóa thành công";
                    $('.bd-example-modal-sm').modal('show');
                }
            });
        });
        $(".Restore").click((e) => {
            //console.log($(e.currentTarget));
            const id = parseInt($(e.currentTarget)[0].name);
            $.ajax({
                type: 'POST',
                //chay đc rồi nha
                url: `./RapPhim/Restore/${id}`,
                dataType: 'json',
                data: null,
                success: function (data) {
                    if (!data)
                        return;
                    $(e.currentTarget)[0]
                        .parentElement
                        .parentElement
                        .cells[3]
                        .children[0]
                        .checked = false;
                    $('#Messege_modal')[0].innerText = "Khôi phục thành công";
                    $('.bd-example-modal-sm').modal('show');
                }
            });
        });
    </script>
}