@model IEnumerable<RapChieuPhim.Areas.Admin.Models.RapPhimModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ten_rap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dia_chi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Da_xoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten_rap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dia_chi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Da_xoa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                    <a asp-action="restore" asp-route-id="@item.ID">restore</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<@*div id="target">
        Click here
    </div>
    <div id="other">
        Trigger the handler
    </div>

    @section Scripts{
        <script>
            $("#target").click(() => {
                alert("Handler for .click() called.");

                $.ajax({
                    method: "GET",
                    [Http]
                    //url: "https://localhost:44372/API/rapphim",
                }).done((data) => {
                    alert(data.toString());
                };
            });
            $("#other").click(() => {
                $("#target").click();
            });
        </script>
    }*@