@model IEnumerable<RapChieuPhim.Areas.Admin.Models.TaiKhoanModel>

@{
    ViewData["Title"] = "Index";
}


<div id="PlaceHolderHere"></div>
<h1>Tài khoản</h1>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <div class="row">
        <div class="col-3">
            <p>Nhập tên bạn muốn tìm kiếm: </p>
        </div>
        <div class="col-5">
            <form method="post">
                <div class="row">
                    <div class="col-9">
                        <input type="text" class="form-control " name="ten" />
                    </div>
                    <div class="col-3">
                        <input type="submit" value="Tìm kiếm" class="btn btn-primary" />

                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten_dang_nhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mat_khau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loai_tai_khoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Da_xoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDungModel)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.dstk)
        {
            <tr>
                <td>
                    @item.Ten_dang_nhap
                </td>
                <td>
                    @item.Mat_khau
                </td>
                <td>
                    @item.Loai_tai_khoan

                </td>
                <td>
                    @item.Da_xoa
                    @*<input type="checkbox" style="width:20px;" value=" 1" name="checkbox" class="checkbox_check">*@
                </td>
                <td>
                    @item.NguoiDung_ID
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{

    <script src="~/js/site.js"></script>
}


