@model IEnumerable<RapChieuPhim.Areas.Admin.Models.XuatChieuModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thoi_gian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Da_xoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idLichChieu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Thoi_gian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Da_xoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPhim.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idLichChieu.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
