@model IEnumerable<RapChieuPhim.Areas.Admin.Models.VeXemPhimModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idXuatChieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idGhe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPhongChieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idRapPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idHoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaXoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idXuatChieu.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idGhe.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPhongChieu.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idRapPhim.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idPhim.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idHoaDon.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaXoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
