@model RapChieuPhim.Areas.Admin.Models.GheModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GheModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Loai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Loai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Da_chon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Da_chon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idPhongChieu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idPhongChieu.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idPhongChieu.Ten_Phong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idPhongChieu.Ten_Phong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Da_xoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Da_xoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.PhongChieu_ID">Back to List</a>
</div>
